/* @import url('https://fonts.googleapis.com/css2?family=poppins:wght@300;400;500;600&display=swap'); */

body{
	background-color: #F2F3FF;
   /* font-family: 'poppins',sans-serif; */
    font-size: 15px;
}

.card h4{
	color: #858585;
}

.card h6{
	color: #787676;
}

label span.star{
	color: #D60707;
}

.circle{
/*	border-radius: 50%;*/
	font-weight: 400;
}

